@import "../../../styles/settings.scss";

.root {
  .box {
    height: 250px;
    font-size: 15px;
    border-radius: 8px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000;
  }
}
