@import "../../../styles/settings.scss";

.button {
  background-color: rgb(69, 113, 110);
  border-radius: 5px;
  font-size: 20px;
  color: black;
  padding: 15px 15px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: $transition;
  margin: 0px auto 0 auto;
  line-height: 12px;
  background-position: 100% 0;
  background-size: 300%;

  &:hover {
    background-color: rgb(25, 160, 147);
  }
}
