@import "../../../styles/settings.scss";

.root {
  padding: 40px;
  margin-top: 20px;
  z-index: 99;
  position: fixed;
  height: 50px;
  width: 100%;
  background: rgb(100, 98, 98);
  opacity: 0.6;
  transition: $transition;
  @include flex(row, space-around, center);

  &:hover {
    opacity: 0.5;
    transition: $transition;
  }

  .logo {
    min-width: 200px;
    margin-top: 15px;
    text-align: left;
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, serif;
    &:hover {
      color: rgb(91, 175, 147);
    }
    img {
      height: 80px;
    }
    h5 {
      margin-top: -20px;
      font-style: italic;
      font-weight: normal;
      font-family: Georgia, serif;
      font-size: 25px;
    }
  }

  .navLinks {
    @include flex(row, space-between, left);
    position: relative;
    margin-left: -100px;
    color: white;
    font-size: 25px;
    ul {
      display: flex;
      padding: 0;
      top: 50px;
      left: 0;

      li {
        list-style-type: none;
        a {
          text-decoration: none;
          display: block;
          margin: 0 40px;
          color: white;

          &:hover {
            color: rgb(91, 175, 147);
          }

          &.active {
            color: rgb(91, 175, 147);
          }
        }
      }
    }
    .h3 {
      color: white;

      &:hover {
        color: rgb(91, 175, 147);
      }
    }

    .button {
      color: $color-dark;
      background: transparent;
      border: 0;
      cursor: pointer;
      transition: $transition;
      font-size: $base-size;
      color: white;

      &:hover {
        color: rgb(91, 175, 147);
      }
    }

    .hamburger {
      margin-left: 20px;
      display: none;
      font-size: $base-size * 4;
    }
  }
}

@media (max-width: 768px) {
  .root {
    .navLinks {
      ul {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: rgb(120, 120, 117);
        top: 31px;
        left: -20px;

        li {
          text-align: center;
          margin: 10px;
        }

        &.isExpanded {
          display: block;
        }
      }

      .hamburger {
        display: block;
        font-size: $base-size * 3;
      }
    }
  }
}
@media (max-width: 500px) {
  .root {
    .navLinks {
      ul {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: rgb(90, 90, 83);
        top: 31px;
        left: -20px;

        li {
          text-align: center;
          margin: 10px;
        }

        &.isExpanded {
          display: block;
        }
      }

      .hamburger {
        display: block;
        margin-right: 110px;
        font-size: $base-size * 2;
      }
    }
  }
}
@media (max-width: 400px) {
  .root {
    .logo {
      font-size: 15px;
      text-align: right;
    }
    .navLinks {
      ul {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: rgb(90, 90, 83);
        top: 31px;
        left: -20px;

        li {
          text-align: center;
          margin: 10px;
        }

        &.isExpanded {
          display: block;
        }
      }
      .button {
        color: $color-dark;
        background: transparent;
        border: 0;
        cursor: pointer;
        transition: $transition;
        font-size: $base-size;
        color: white;
        margin-left: 0px;

        &:hover {
          color: rgb(91, 175, 147);
        }
      }
      .hamburger {
        display: block;
        padding-right: 50px;
        font-size: $base-size * 2;
      }
    }
  }
}
@media (max-width: 300px) {
  .root {
    .logo {
      font-size: 15px;
      text-align: right;
    }
    .navLinks {
      ul {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: rgb(90, 90, 83);
        top: 31px;
        left: -20px;

        li {
          text-align: center;
          margin: 10px;
        }

        &.isExpanded {
          display: block;
        }
      }
      .button {
        color: $color-dark;
        background: transparent;
        border: 0;
        cursor: pointer;
        transition: $transition;
        font-size: $base-size;
        color: white;
        margin-left: 0px;

        &:hover {
          color: rgb(91, 175, 147);
        }
      }
      .hamburger {
        display: block;
        padding-right: 40px;
        font-size: $base-size * 2;
      }
    }
  }
}
