@import "../../../styles/settings.scss";
.root {
  height: 600px;
  padding-top: 100px;
  .box {
    width: 400px;
    font-weight: normal;
    font-size: 20px;
    margin: 30px;
    .link {
      text-decoration: none;
      font-weight: normal;
      color: black;
    }
    ul {
      padding-left: 60px;
      font-size: 20px;
      margin-top: 5px;
      padding-top: 20px;
      li {
        margin-top: 15px;
        font-weight: normal;
      }
    }
  }
}
@media (max-width: 540px) {
  .root {
    height: 600px;
    padding-top: 100px;
    .box {
      width: 400px;
      font-weight: normal;
      font-size: 15px;
      margin: 30px;
      .link {
        text-decoration: none;
        font-weight: normal;
        color: black;
      }
      ul {
        padding-left: 60px;
        font-size: 15px;
        li {
          margin-top: 15px;
        }
      }
    }
  }
}
